<div class="card mt-3">
  <div class="card-header">
    Filter by
  </div>
  
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Month<%= select_tag :date, options_for_select([["January"], ["February"], ["March"]])%></li>
    <li class="list-group-item">Doctor<%= select_tag :date, options_for_select([["Carlos Silva"], ["Elena Escobar"], ["Carla Diaz"]])%></li>
    <li class="list-group-item">Specialty<%= select_tag :date, options_for_select([["Pediatria"], ["Odontologia"], ["Kinesiologia"]])%></li>
  </ul>

</div>