<div class="card mt-3">
  <div class="card-header">
    Find by
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Month<%= select_tag :date, options_for_select([["January"], ["February"], ["March"]])%></li>
    <li class="list-group-item">Doctor</li>
    <li class="list-group-item">Specialty</li>
  </ul>
</div>